h1, h5, h6 {
    text-align: center;
}
h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.words {
    color: white;
}
body {
    background-color: rgb(1, 36, 5);
}
.center {
    text-align: center;
}

.boldedlist {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.embed-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
}